<div class="forgot-password">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="forgotPassword()" #form="ngForm">
        <input type="email" placeholder="Enter Email" name="email" [(ngModel)]="email" 
                required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #emailCtrl="ngModel">
        <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">
            <div *ngIf="emailCtrl.errors.required">
                You must enter email!
            </div>
            <div *ngIf="emailCtrl.errors.pattern">
                Email is not valid!
            </div>
        </div>
        <button type="submit" [disabled]="!form.valid">Reset Password</button>
    </form>
</div>

<button (click)="getProducts()">Get all product</button>